
header {
  color: rgba(0,51,153,0.8);
  text-align: left;
  font-family: 'times new roman', sans-serif;
  background-color: rgba(0,102,204,0.2);
}

ul {
  padding: 10px;
  background: rgba(0, 128, 0, 0.8);
  text-align:center;
}

a {
  color: white;
}

img {
  max-height: 500px;
}

.welcome {
    background:url("../images/lbth_ward.svg");
    background-size: cover;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
  color: white;
}
